body {
    background: white;
}

header{
    background-size: cover;
}

.social-icons {
    float: right;
    font-size: 30px;
    margin: auto;
    color: white;
}

h1 {
    text-align: center;
    color: white;
    background-color: slategray;
    font-family: "Proxima Nova";

}

h3 {
    text-align: center;
    color: white;
    background-color: slategray;
    font-family: "Proxima Nova";
}

img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 3px solid black;
    padding: 1px;
    align-self: center;

}

h6 span {
    position: absolute;
    top: 850px;
    color: white;
    font-size: 10px;
    font-weight: normal;
    font-family: "Proxima Nova";
    letter-spacing: -0.5px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 30px 10px 30px ;
    left: 20px;
}

.more-photos {
    border: 1px solid slategray;
}

